/* 46. Print Style */

@media screen {
    p {
        font-size:20px;
    }
    p::first-line {
        background-color: yellow;
    }
}


@media print {
    p {
        font-size: 30px;
    }

    p::first-letter {
        font-size:40px;
        color:red;
    }

    img {
        display: none;
    }
}

/*  551.Multiple Column */

#m-col {
    column-count: 3;

    column-gap:50px;

    column-rule-style: dotted;

    column-rule-width:10px;

    column-rule-color:teal;
    /* column-rule:1px solid red; */

    /* column-width:100px; */
    column-fill:balance;

    

   
}

#m-col h1 {
    column-span: all;
}