#wrapper {
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#wrapper * {
  padding: 20px;
}

#wrapper #aside-main {
  padding: 0;
}

header {
  background-color: #ff6347;
}

article {
  background-color: rgb(0, 191, 255);
  text-align: left;
}

#aside1 {
  background-color: rgb(255, 215, 0);
}

#aside2 {
  background-color: #ff69b4;
}

footer {
  background-color: #90ee90;
}
@media screen and (min-width: 1024px) {
  #wrapper #aside-main {
    display: flex;
  }

  .aside {
    flex:1;
  }
}

